
.wall{
    background: url('./assets/wall.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
}
div{
    margin: -2px;
}
/* .pacman{
    background: url('./assets/pac-man-right.jpeg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
} */
.coin{
    background: url('./assets/coin.png');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
}
.ground{
    background: url('./assets/ground.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.pacman {
    background: url('./assets/pac-man-right.jpeg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.left {
    background-image: url('./assets/pac-man-left.jpeg');
    
}

.right {
    background-image: url('./assets/pac-man-right.jpeg');
    
}

.up {
    background-image: url('./assets/pac-man-up.jpeg');
    
}

.down {
    background-image: url('./assets/pac-man-down.jpeg');
    
}